<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="my.suveng.veng_bike_server.dao.mysql.OrderMapper" >
  <resultMap id="BaseResultMap" type="my.suveng.veng_bike_server.pojo.mysql.Order" >
    <id column="orderId" property="orderid" jdbcType="VARCHAR" />
    <result column="userId" property="userid" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="DOUBLE" />
    <result column="beginRentalId" property="beginrentalid" jdbcType="VARCHAR" />
    <result column="endRentalId" property="endrentalid" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="beginTime" property="begintime" jdbcType="TIMESTAMP" />
    <result column="endTime" property="endtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    orderId, userId, fee, beginRentalId, endRentalId, status, beginTime, endTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from order
    where orderId = #{orderid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from order
    where orderId = #{orderid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="my.suveng.veng_bike_server.pojo.mysql.Order" >
    insert into order (orderId, userId, fee, 
      beginRentalId, endRentalId, status, 
      beginTime, endTime)
    values (#{orderid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, #{fee,jdbcType=DOUBLE}, 
      #{beginrentalid,jdbcType=VARCHAR}, #{endrentalid,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="my.suveng.veng_bike_server.pojo.mysql.Order" >
    insert into order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderId,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="beginrentalid != null" >
        beginRentalId,
      </if>
      <if test="endrentalid != null" >
        endRentalId,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="begintime != null" >
        beginTime,
      </if>
      <if test="endtime != null" >
        endTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DOUBLE},
      </if>
      <if test="beginrentalid != null" >
        #{beginrentalid,jdbcType=VARCHAR},
      </if>
      <if test="endrentalid != null" >
        #{endrentalid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="my.suveng.veng_bike_server.pojo.mysql.Order" >
    update order
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DOUBLE},
      </if>
      <if test="beginrentalid != null" >
        beginRentalId = #{beginrentalid,jdbcType=VARCHAR},
      </if>
      <if test="endrentalid != null" >
        endRentalId = #{endrentalid,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="begintime != null" >
        beginTime = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        endTime = #{endtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="my.suveng.veng_bike_server.pojo.mysql.Order" >
    update order
    set userId = #{userid,jdbcType=VARCHAR},
      fee = #{fee,jdbcType=DOUBLE},
      beginRentalId = #{beginrentalid,jdbcType=VARCHAR},
      endRentalId = #{endrentalid,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      beginTime = #{begintime,jdbcType=TIMESTAMP},
      endTime = #{endtime,jdbcType=TIMESTAMP}
    where orderId = #{orderid,jdbcType=VARCHAR}
  </update>
</mapper>